@charset "utf-8";

html {
    font-size: 16px;
}

/* 「*」はユニバーサルセレクタ(すべての要素を対象にするセレクタ)でbox-sizing: border-box;を指定 */
/* この指定(してい)はborderとpaddingをボックスサイズ(widthとheight)の中に含めて算出するので、スタイリングがしやすい*/
*,
*::before,
*::after {
    box-sizing: border-box;
}
.back{
    text-align:left;
}
#btn99{
    padding:0.5cm;
    border-radius: 0.3cm;
    color: whitesmoke;
    font-size:1.5cm;
    background: rgb(26, 212, 212);
    cursor: pointer;
}
body {
    margin: 0;
    line-height: normal;
    /*ブラウザが自動的に行間を決める*/
    font-family: "Helvetica Neue",
        Arial,
        "Hiragino Kaku Gothic ProN",
        "Hiragino Sans",
        Meiryo,
        sans-serif;
    /*background: rgb(233, 168, 227);*/
    background: url(../img/haru.jpeg);
    
    overflow: hidden;
}

p {
    margin: 0;
    padding: 0;
}

header {
    margin-top: 8px;
    color: rgba(80, 107, 167, 0.514);
    font-size: 38px;
    font-weight: bold;
    text-align: center;
}

.wrapper {
    position:relative;
    max-width: 100vw;
    min-height: 100vh;
    margin:0px;
    padding: 0px;
    padding-bottom:23px;
    text-align: center;
}

#btn1{
    position: relative;
    margin: 20px auto;
    width: 250px;
    height: 250px;
    line-height: 250px;
    border-radius:50%;
    color: rgb(185, 35, 35);
    font-weight: bold;
    font-size:40px;
    text-align: center;
    text-shadow:1px 1px 1px rgba(255, 255, 255, 0.65);
    background: linear-gradient( #67dffd 0%, #aed3d3 100%);
    box-shadow: 0 10px 0 grey;
    justify-content:center;
    cursor: pointer;
    user-select: none;
}

#btn1:hover{
    background: linear-gradient( #3aaa6d 0%, rgb(147, 238, 241) 100%);
}

#btn1:active {
     position: relative;
     top: 5px;
     left: 5px;
     box-shadow: 0 5px 0 grey;
}

footer>p{
    position: absolute;
    bottom: 5px;
    width: 100%;
    margin: 0px;
    padding: 1px;
    color: whitesmoke;
    font: 16px Rajdhani;
    text-align: center;
    background: rgba(1, 24, 31, 0.7);   

}

.shutter{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:9999;
    margin: 0cm;
    padding:0cm;
    background-color: #1e1e1e;
    animation: byeShutter 2.5s forwards;
}

.shutter::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    margin: auto;
    background-color: #fff;
    animation: shutterOpen 2.5s forwards;
}

@keyframes byeShutter {
    70%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        display: none;
        z-index: -1;
    }
}
@keyframes shutterOpen {
    0% {
         width: 0;
         height: 0.05cm;
    }
    50%{
        width: 100%;
        height: 0.05cm;
    }

    90%{
        width: 100%;
        height: 100%;
    }
    100%{
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 480px) {
    body {
        background-position: 50% 0%;
        background-size: auto 1000px;
    }
    header {
        font-size: 30px;
        color: aqua;
    }
}
